In [23]:
import pandas as pd

In [24]:
data = pd.read_json("labirint_books.json", lines=True)
data.head()

,id,isbn,genre,title,author,rate,book_url
0,999404,9785222413173,[Современная зарубежная проза],Железный Принц. Первая книга цикла Войнорожден...,"[О`Коннор Брайс, Чмиленко Люк]",0.00,https://www.labirint.ru/books/999404/
1,999403,9785222413166,[Современная зарубежная проза],Железный Принц. Том 2,"[О`Коннор Брайс, Чмиленко Люк]",0.00,https://www.labirint.ru/books/999403/
2,1004119,978-5-222-40392-1,[Современная отечественная проза],Странный мир. Истории о небывалом,[Логинов Святослав Владимирович],8.20,https://www.labirint.ru/books/1004119/
3,1003729,978-5-00222-320-6,[Современная отечественная проза],[Русская Хтонь. Лучшие крипипасты],[Нигматулин М. В.],3.80,https://www.labirint.ru/books/1003729/
4,999400,9785222396926,[Современная отечественная проза],Мы все мертвы,[Вайолет Анастасия],7.27,https://www.labirint.ru/books/999400/

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755 entries, 0 to 754
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        755 non-null    int64
 1   isbn      755 non-null    object
 2   genre     755 non-null    object
 3   title     755 non-null    object
 4   author    755 non-null    object
 5   rate      755 non-null    float64
 6   book_url  755 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 41.4+ KB

In [26]:
# Проверка на пустые значения
data.isna().sum()

id          0
isbn        0
genre       0
title       0
author      0
rate        0
book_url    0
dtype: int64

In [27]:
display(data[ data['id'] == 000])
display(data[ data['isbn'] == 000])
display(data[ data['genre'] == "no_genre"])
display(data[ data['title'] == "no_title"])
display(data[ data['author'] == "no_author"])

Empty DataFrame
Columns: [id, isbn, genre, title, author, rate, book_url]
Index: []

Empty DataFrame
Columns: [id, isbn, genre, title, author, rate, book_url]
Index: []

Empty DataFrame
Columns: [id, isbn, genre, title, author, rate, book_url]
Index: []

Empty DataFrame
Columns: [id, isbn, genre, title, author, rate, book_url]
Index: []

Empty DataFrame
Columns: [id, isbn, genre, title, author, rate, book_url]
Index: []

In [28]:
# Проверка, что все авторы попали в список
data[data["title"] == "Шесть зимних ночей"]

,id,isbn,genre,title,author,rate,book_url
79,975905,978-5-00214-354-2,[Современная отечественная проза],Шесть зимних ночей,"[Торин Владимир Витальевич, Той Кристина, Поку...",8.46,https://www.labirint.ru/books/975905/

In [29]:
# Проверка, что в авторы не попали художники, редакторы и т.п.
data[ data["title"] == "Зов Ктулху"]

,id,isbn,genre,title,author,rate,book_url
262,758452,978-5-222-33531-4,[Классическая зарубежная проза],Зов Ктулху,[Лавкрафт Говард Филлипс],8.5,https://www.labirint.ru/books/758452/